% This is a test configuration file regarding webservers and virtual hosting, in
% the context of the US-Web framework.
%
% Its format is ETF (see https://myriad.esperide.org/#etf).
%
% Typically to be referenced in the 'us_web_config_filename' entry of the
% us.config file of interest (see US-Common for an example thereof).
%
% Refer to https://us-web.esperide.org/ for more information.


% So that multiple instances may co-exist and be reachable:

% For the US-Web server itself:
{ us_web_central_server_registration_name, test_us_webserver }.

% For the scheduler dedicated to US-Web:
%{ us_web_scheduler_registration_name, test_development_us_web_scheduler }.


% The user who shall launch the US-Web application:
%{ us_web_username, "brian" }.


% Tells where is the base directory of the US-Web application (useful notably
% for start/stop management scripts in a production context, or to locate
% relative directories such as any log one):
%
% (if such an entry is not defined here, the US_WEB_APP_BASE_DIR environment
%  variable will be tested by these scripts, otherwise an attempt to guess it
%  will be done as a last resort; at least in production mode, a better, safer
%  name - hardcoded here - is preferred)
%
% For example "$HOME/[...]/us_web-x.y.z":
%{ us_web_app_base_dir, "" }.


% The directory (either absolute or relative to the US-Web application base
% directory, see the 'us_web_app_base_dir' entry above) that shall be used to
% store working data:
%
%{ us_web_data_dir, "/tmp/us-web-data" }.


% To override the default US-Web log directory, where web-related (access,
% error) logs (not VM ones) are to be written (which is /var/log, thus not
% writable for normal users):
%
% (a relative path shall be relied here upon only for embedded testing; in this
% case it shall be relative to the US-Web application base directory, see
% the 'us_web_app_base_dir' entry above)
%
% Here the same as for US itself:
%
{ us_web_log_dir, "priv/for-testing/log" }.


% Non-privileged HTTP port, used for testing thanks to a normal user:
{ http_tcp_port, 8080 }.


% The base directory that shall be retained whenever a virtual host defined a
% non-absolute web root:
%
% (a relative path for that default web root shall be relied upon only for
% embedded testing; in this case it will be relative to the 'priv' directory of
% the US-Web application in the release)
%
{ default_web_root, "for-testing" }.


% Enables specified log analysis tool for any 'meta' website, and being fine
% with defaults for Awstats:
%
% (defining a log_analysis entry is sufficient to enable the generation of HTML
% reports for any requested meta website)
%
%{ log_analysis, awstats }.


% No certificate_support key set, hence none enabled.
% { certificate_support, no_certificates }.

% { certificate_mode, development }.


% Specification of the user-defined routes (i.e. per-domain virtual host
% mappings to content roots):
%
% Per top-level domain (TLD), virtual hosts are listed, together with the
% location of their content in the filesystem.
%
% This location can be either an absolute directory or one that is then relative
% to the specified default web root.
%
% No protocol (e.g. http) is specified, as automatic promotion to https is
% expected.
%
% For example for domain "foobar.org", the first virtual host may be "baz"
% (hence resulting in FQDN "baz.foobar.org") and be associated to the "Baz"
% directory, which is not an absolute path, and thus will be expected to be
% found from the default web root.
%
{ routes, [

  % Note that the first hostname listed will be, regarding https (SNI), the
  % main, default one:

  % These are implicitly static and relative to default_web_root:
  { "localhost", [ { "foo", "test-static-website-A" },
				   { "bar", "test-static-website-B" },
				   { "baz", "test-static-website-C" },
				   % Nitrogen support currently disabled:
				   %{ "nitrogen-testing", "test-nitrogen-website", nitrogen },
				   %{ "test", "non-existing-dir" },
				   { default_vhost_catch_all, "test-static-website-D" } ] },

  { default_domain_catch_all, [
		{ "foo",  "test-static-website-E" },
		{ default_vhost_catch_all, "test-static-website-F" } ] }

		  ]

}.


% To test the rejection of invalid entries:

%{ invalid_term, ...
%{ unexpected_key, some_value }.