[Unit]
Description=Universal Webserver service (US-Web), as an OTP release
Requires=network.target
After=network.target


[Service]

# The started UNIX process is expected to call fork() as part of its start-up.
#
# The parent process is expected to exit when start-up is complete and all
# communication channels are set up. The child continues to run as the main
# service process, and the service manager will consider the unit started when
# the parent process exits. This is the behavior of traditional UNIX services.
#
Type=forking


# The two scripts below are typically symlinks pointing to an install of US-Web.

# To inspect the outputs, use:
# journalctl --pager-end --unit=us-web-as-release.service
#
ExecStart=/usr/local/bin/start-us-web-release.sh

ExecStop=/usr/local/bin/stop-us-web-release.sh

[Install]
WantedBy=multi-user.target
