% This is an overall configuration file for the test of the Universal Server.
%
% Its format is ETF (see https://myriad.esperide.org/#etf).
%
% It is typically to be symlinked as ~/.config/universal-server/us.config.
%
% Refer to https://us-common.esperide.org/ for more information.



% General section, mostly useful for companion shell scripts:


% The Erlang cookie to use, so that VMs can communicate.
%
% Note that the atom value of that cookie *must* be surrounded by single quotes
% (i.e. 'mycookie', not mycookie).
%
{ vm_cookie, 'e08a-4fa2-bcb5-6b44edbd603b-test' }.


% The base EPMD TCP port to be used for the US VMs (Erlang default: 4369):
% (note though that most US-* services will define their own default EPMD port)
%
{ epmd_port, 4506 }.


% A range of TCP ports that may be used for out-of-band inter-VM communication
% (not using the Erlang carrier; e.g. for send_file):
%
% (this range must be typically in-line with any one set at the level of
% firewalls)
%
%{ tcp_port_range, { 50000, 55000 } }.


% The execution context (relaxed for development, stricter/safer/adapted for
% production):
%
% (default: production)
%
{ execution_context, development }.



% Main section, mostly useful for the US services themselves:


% Users and groups, specified mostly for launcher scripts:

% The user who shall launch the Universal server:
%{ us_username, "joe" }.
%{ us_username, "us-srv" }.

% The group common to all US-related users:
%{ us_groupname, "some-group" }.
%{ us_groupname, "us-srv" }.



% So that multiple instances may co-exist and be reachable:
{ us_config_server_registration_name, test_universal_config_server }.


% The base directory of the US application (useful notably for start/stop
% management scripts in a production context):
%
% (if such an entry is not defined here, the US_APP_BASE_DIR environment
%  variable will be tested by these scripts, otherwise an attempt to guess it
%  will be done as a last resort)
%
% For example "$HOME/[...]/us_main-x.y.z":
%{ us_app_base_dir, "" }.


% To override the default base US log directory (which is /var/log, not writable
% for normal users):
%
% (a relative path shall be relied here upon only for embedded testing; in this
%  case it shall be relative to the US application base directory; see above)
%
{ us_log_dir, "priv/for-testing/log" }.



% Configuration for the US-Main configuration server (overriding the default
% filename, which is "us-main.config"):
%
% (see http://us-main.esperide.org for more details)
%
{ us_main_config_filename, "us-main-for-tests.config" }.


% Configuration for the US-Web configuration server (overriding the default
% filename, which is "us-web.config"):
%
% (see http://us-web.esperide.org for more details)
%
%{ us_web_config_filename, "us-web-for-tests.config" }.



% Test-specific section.


% To test the rejection of invalid entries:

%{ invalid_term, ...
%{ unexpected_key, some_value }.