# Listing path patterns that shall be ignored by git:
*.beam
*.traces
*.log
*.plt
*erlang.log.*
declared-types-in-*.txt
.eunit
erl_crash.dump
doc/index.html
doc/mathjax

# For Emacs temporary files:
*.#*

*~

# Added in relation to rebar3:
.rebar
rebar3.crashdump
.rebar3
_*

# Mere symlink:
src/us_web.app.src

# Generated:
conf/rebar.config

doc/api-doc/
doc/overview.edoc
doc/universal-webserver-technical-manual-english.html
doc/universal-webserver-technical-manual-english.pdf
doc/universal-webserver-technical-manual-english.rst
