% See https://erlang.org/doc/man/config.html for more information.
[

  { kernel, [

	  % Allowed TCP port range (expected to be in-line with firewall settings):
	  %
	  % (see https://erlang.org/doc/man/kernel_app.html)
	  %
	  { inet_dist_listen_min, 50000 },
	  { inet_dist_listen_max, 55000 }

			]

  },

  { traces, [

	  % By default no (server-side) graphical trace supervisor wanted:
	  %{ is_batch, true }
	  { is_batch, false }

			]
  }

].